---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
 title: 'Odoo para Cafeterías',
  description: 'Optimiza la gestión de tu cafetería con Odoo. Control de inventario, ventas, clientes y más.',
};
---

<Layout metadata={metadata} displayAnnouncement={false} displayHeader={true} displayFooter={false}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Agendar demo',
        href: 'https://wa.me/526645142608',
        target: '_blank',
        icon: 'tabler:message',
      },
    ]}
    image={{ src: '~/assets/images/hero-cafe.jpg', alt: 'Imagen de una cafetería' }}
  >
    <Fragment slot="title">
 Optimiza la Gestión de tu Cafetería con <span class="text-accent dark:text-white"> Odoo</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Odoo para Cafeterías</span> te ofrece una solución integral para llevar tu negocio
        al siguiente nivel.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Odoo Cafeterías: Tu negocio en orden.</span>
      Controla tu inventario, gestiona ventas, fideliza clientes y optimiza tus operaciones con un software potente y
      fácil de usar.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!--<Note title="Filosofía:" description="Potenciando Cafeterías, Simplificando la Gestión" />-->

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Funciones"
    title="Beneficios de Odoo para tu Cafetería"
    subtitle="Descubre cómo Odoo puede simplificar y mejorar cada aspecto de tu negocio, desde la gestión del inventario hasta la atención al cliente."
    items={[
      {
        title: 'Gestión de Inventario Precisa',
        description:
          'Controla en tiempo real tus insumos, productos y mermas para evitar pérdidas y optimizar compras.',
        icon: 'tabler:box',
      },
      {
        title: 'Ventas y Punto de Venta (POS)',
        description:
          'Agiliza tus ventas con una interfaz intuitiva y adaptada a la dinámica de una cafetería, incluyendo pagos divididos, propinas y descuentos.',
        icon: 'tabler:cash',
      },
      {
        title: 'Gestión de Clientes (CRM)',
        description:
          'Construye relaciones sólidas con tus clientes. Registra sus preferencias, historial de compras y crea programas de fidelidad.',
        icon: 'tabler:users',
      },
      {
        title: 'Informes y Análisis',
        description:
          'Obtén información valiosa sobre el rendimiento de tu negocio con informes personalizables sobre ventas, inventario y clientes.',
        icon: 'tabler:chart-bar',
      },
      {
        title: 'Integración de Módulos Adicionales',
        description:
          'Amplía las funcionalidades con módulos como contabilidad, empleados, marketing y más, todo dentro de una única plataforma.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Soluciones Personalizadas',
        description:
          'Potencia tu cafetería con soluciones personalizadas que se ajustan a tus necesidades específicas.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <!--<Content
    isReversed
    tagline="Inside template"
    title="Odoo: La Plataforma Integral para tu Cafetería"
    items={[
      {
        title: 'Centralización de Operaciones',
        description: 'Gestiona todos los aspectos de tu cafetería desde una única plataforma intuitiva.',
      },
      {
        title: 'Automatización de Procesos',
        description: 'Reduce tareas manuales y errores con la automatización de inventario, pedidos y facturación.',
      },
      {
        title: 'Flexibilidad y Escalabilidad',
        description: 'Adapta Odoo a las necesidades específicas de tu cafetería y crece sin limitaciones.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Simplifica y Potencia tu Negocio</h3>
      Odoo te ofrece las herramientas necesarias para gestionar tu cafetería de manera eficiente y efectiva.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>-->

  <!-- Content Widget **************** -->

  <!--<Content
    isAfterContent
    items={[
      {
        title: 'Interfaz Intuitiva y Amigable',
        description: 'Fácil de usar para todo tu personal, reduciendo el tiempo de capacitación.',
      },
      {
        title: 'Acceso desde Cualquier Dispositivo',
        description: 'Gestiona tu cafetería desde tu computadora, tablet o smartphone.',
      },
      {
        title: 'Seguridad de Datos',
        description: 'Protege tu información sensible con los altos estándares de seguridad de Odoo.',
      },
      {
        title: 'Soporte Confiable',
        description: 'Accede a una amplia comunidad y a socios oficiales para resolver cualquier duda.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>-->

  <!-- Content Widget **************** -->

  <!--<Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Mayor Eficiencia Operativa',
        description: 'Reduce tiempos y costos al optimizar procesos internos.',
      },
      {
        title: 'Toma de Decisiones Informadas',
        description: 'Basado en datos reales y análisis precisos de tu negocio.',
      },
      {
        title: 'Satisfacción del Cliente',
        description: 'Ofrece un servicio más rápido, personalizado y eficiente.',
      },
      {
        title: 'Potencial de Crecimiento',
        description: 'Libera tu potencial y enfócate en hacer crecer tu cafetería.',
      },
    ]}
    image={{
      src: '~/assets/images/analytics-cafe.jpg', alt: 'Análisis de datos en una cafetería'
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>-->

  <!-- Steps Widget ****************** -->

  <!--<Steps
    title="Implementa Odoo en tu Cafetería en Pocos Pasos"
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Contáctanos</span>',
        description:
          'Déjanos tus datos y uno de nuestros expertos se pondrá en contacto contigo para entender las necesidades de tu cafetería.',
        icon: 'tabler:package',
      },
      {
        title: 'Paso 2: <span class="font-medium">Personalización e Implementación</span>',
        description:
          'Adaptaremos Odoo a los flujos de trabajo de tu negocio y te acompañaremos en todo el proceso de implementación.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Paso 3: <span class="font-medium">Capacitación y Soporte</span>',
        description:
          'Capacitaremos a tu equipo para que aprovechen al máximo Odoo y te brindaremos soporte continuo.',
        icon: 'tabler:paint',
      },
      {
        title: '¡Disfruta de los Beneficios!',
        icon: 'tabler:check',
      },
    ]}
    image={{ src: '~/assets/images/steps-cafe.jpg', alt: 'Pasos para implementar Odoo' }}
  />-->

  <!-- Features2 Widget ************** -->

  <!--<Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Punto de Venta (POS)',
        description: "Agiliza tus ventas y mejora la experiencia del cliente en el mostrador.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Gestión de Inventario',
        description: "Controla tus ingredientes y productos terminados de forma precisa.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'CRM (Gestión de Clientes)',
        description: "Conoce a tus clientes, registra sus preferencias y crea programas de fidelidad.",
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Contabilidad Integrada',
        description: "Simplifica tu contabilidad y obtén una visión clara de tus finanzas.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Informes y Análisis',
        description: "Obtén métricas clave para tomar decisiones estratégicas para tu cafetería.",
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Gestión de Compras',
        description: "Optimiza tus pedidos a proveedores y gestiona tus gastos.",
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Gestión de Empleados',
        description: "Administra a tu personal, horarios y nóminas.",
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Marketing',
        description: "Crea campañas para atraer y fidelizar a tus clientes.",
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>-->

  <!-- HighlightedPosts Widget ******* -->

  <!--<BlogLatestPosts
    title="Recursos Adicionales"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
    items={[]}
  />-->

  <!-- FAQs Widget ******************* -->

  <!--<FAQs
    title="Frequently Asked Questions"
    subtitle="Encuentra respuestas a las preguntas más comunes sobre Odoo para cafeterías."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      }
    ]}
  />-->

  <!-- Stats Widget ****************** -->

  <!--<Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />-->

  <!-- CallToAction Widget *********** -->

  <!--<CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: '#contacto',
        target: '_blank',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      ¿Listo para Potenciar tu Cafetería con <span class="sm:whitespace-nowrap">Odoo?</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>-->
</Layout>
